*{
    margin: 0;
}

header{
    width: 100%;
}
.title{
    display: flex;
    justify-content: space-between;
}
.logo{
    margin: 15px 0 0 30px;
    width: 10%;
}
.logo-card{
    width: 100%;
}
.right-ttl{
    display: flex;
    justify-content: flex-end;
    margin: auto 30px auto 0;
}
.right-ttl li{
    list-style: none;
    margin-left: 20px;
}
.right-ttl a{
    text-decoration: none;
    color: rgb(145, 143, 143);
}




.header-content{
    overflow: hidden;
    margin-bottom: 5vw;
}
.head-block{
    margin-left: 22%;
    margin-top: 2vw;
}
.head-text{
    font-size: 3.5vw;
    font-weight: 400;
    color: rgb(240, 102, 125);
    z-index: 20;
    line-height: 2;
    font-family: "Gorditas", cursive;
}
.text-pickup{
    color: rgb(39, 184, 242);
}
.head-subttl{
    margin-top: 60px;
    font-size: 1.4vw;
    font-weight: bold;
    color: rgb(240, 102, 125);
    z-index: 0;
}
.head-subtext{
    color: rgb(145, 143, 143);
    font-size: 1vw;
}
.pic-outer{
    float: right;
    margin-top: -35vw;
    width: 60%;
}
.head-pic{
    width: 100%;
}




.head-inner{
    overflow: hidden;
}
.note1{
    color: palevioletred;
    font-family: "Gorditas", cursive;
    margin-bottom: 10px;
    font-size: 1vw;

}
.note2{
    font-size: 2vw;
    font-weight: bold;
    color: rgb(100, 100, 100);
}
.inner-area{
    width: 40%;
    margin: 20px auto;
}
.inner-group{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    padding: 20px 0;
    border-top: solid 2px rgb(160, 160, 160);
    border-bottom: solid 2px rgb(160, 160, 160);
}
.content{
    text-decoration: none;
    padding: 10px 0;
    font-size: 1vw;
    color: rgb(145, 143, 143);
    border-bottom: solid 1px rgb(160, 160, 160);
}
.inner-block{
    background-color: rgb(237, 61, 91);
    color: white;
    margin: auto 20px;
    border-radius: 30px;
    padding: 0 10px;
}

main{
    width: 100%;
}


.about-content{
    margin-top: 70px;
    text-align: center;
    overflow: hidden;
    background-color: rgb(227, 226, 226);
    padding-top: 30px;
}
.more1{
    color: palevioletred;
    margin: 10px 0; 
    font-family: "Gorditas", cursive;
    margin-bottom: 2vw;
}
.about-ttl{
    font-weight: bold;
    font-size: 20px;
    line-height: 1px;
    color: rgb(145, 145, 145);
    margin-bottom: 10px;
}
.about-layout{
    overflow: hidden;
    margin: 30px auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.about-block{
    text-align: left;
    font-size: 1.5vw;
    width: 45%;
    color: rgb(145, 145, 145);
}
.about-text{
    margin-bottom: 20px;
}
.about-card{
    width: 45%;
}
.about-card img{
    width: 100%;
}




.service-content{
    margin: 5vw auto;
    width: 70%;
}
.more2{
    color: palevioletred;
    font-family: "Gorditas", cursive;
    font-size: 1vw;
    margin-bottom: 1vw;
}
.service-ttl{
    font-size: 2vw;
    font-weight: bold;
    color: rgb(145, 145, 145);
    margin-bottom: 1vw;
}
.service-layout{
    display: grid;
    grid-template-rows: 40% 40%;
    grid-template-columns: 50% 50%;
}
.box1{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: rgb(193, 58, 103);
    text-align: left;
    color: white;
}
.box1-img{
    margin-top: 5vw;
    width: 100%;
    height: 50%;
}
.box1-ttl{
    text-align: center;
}
.box1-text{
    text-align: left;
    padding: 0 5vw;
    font-size: 1vw;
}
.box2{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: palevioletred;
    place-content: right;
    display: flex;
    flex-direction: row;
}
.box2-img{
    margin-top: 7vw;
    margin-left: 2vw;
    width: 30%;
}
.box2-card{
    margin-top: 7vw;
    margin-left: 1vw;
}
.box2-ttl{
    color: white;    
}
.box2-text{
    margin-top: 1vw;
    font-size: 1vw;
    color: white;
}
.box3{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: pink;
    align-items: right;
    display: flex;
    flex-direction: row;
}
.box3-img{
    margin-top: 50px;
    margin-left: 10px;
    width: 30%;
}
.box3-card{
    margin-top: 7vw;
    margin-right: 2vw;
}
.box3-ttl{
    color: white;
}
.box3-text{
    margin-top: 1vw;
    color: white;
    font-size: 1vw;
}





.blog-content{
    background-color: rgb(227, 226, 226);
    overflow: hidden;
}
.blog-outer{
    width: 70%;
    margin: 2vw auto;
}
.more3{
     margin-left: 15%;
     margin-bottom: 1vw;
     font-size: 1vw;
    color: palevioletred;
    font-family: "Gorditas", cursive;
}
.blog-ttl{
    margin-bottom: 30px;
    margin-left: 15%;
    font-size: 1.5vw;
    font-weight: bold;
}
.blog-block{
    margin: 0px auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.unit{
    width: 30%;
    position: relative;
    border-radius: 20px;
    background-color:white;
}
.photo{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.blog-comment{
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    border-top-left-radius: 20px;
    padding: 5px 25px;
    background-color: rgb(216, 45, 102);
    color: white;
    font-size: 1vw;
}
.tag-group{
    width: 100%;
    font-size: 0.8vw;
}
.unit-text{
    color: rgb(100, 99, 99);
    font-weight: bold;
    margin: 15px 10px;
}
.unit-date{
    float: left;
    color: rgb(145, 145, 145);
    margin-left: 15px;
}
.unit-tag{
    float: right;
    color: rgb(145, 145, 145);
    margin-right: 15px;
    margin-bottom: 1vw;
}
.detail-content{
    text-align: center;
    margin: 30px;
}
.detail{
    padding: 10px 30px;
    text-decoration: none;
    color: palevioletred;
    border: solid 2px palevioletred;
    background-color: white;
    font-weight: bold;
    border-radius: 30px;
}

.footer{
    width: 100%;
    overflow: hidden;
}
.footer-block{
    /* margin-bottom: 70px; */
    margin: 4vw auto;
}
.footer-more{
    font-size: 0.7vw;
    margin-left: 27%;
    margin-bottom: 1vw;
    color: palevioletred;
    font-family: "Gorditas", cursive;
}
.footer-ttl{
    font-weight: bold;
    font-size: 20px;
    margin-left: 27%;
    margin-bottom: 30px;
}
.outer{
    text-align: left;
    margin:0 auto;
    border-spacing: 0;
}
.outer th,td{
    border: solid 2px rgb(200, 200, 200);
    margin: 0;
    color: rgb(145, 145, 145);
}
.outer th{
    background-color: rgb(240, 240, 240);
    width: 15vw;
    padding: 1vw 0;
}
.outer td{
    width: 30vw;
    padding: 1vw 0;
}

.footer-pic{
    display: flex;
    flex-direction: row;
}
.footer-left{
    position: relative;
    width: 50%;
    margin: 0;
}
.footer-left img{
    width: 100%;
}
.left-note{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 3vw;
    font-weight: bold;
}
.footer-right{
    position: relative;
    width: 50%;
    margin: 0;
}
.footer-right img{
    width: 100%;
}
.right-note{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 3vw;
    font-weight: bold;
}
.customer{
    padding-top: 50px;
    text-align: center;
}
.footer-pickup{
    font-size: 20px;
    color: rgb(150, 150, 150);
}
.line{
    color: rgb(196, 46, 96);
    font-size: 30px;
}
.info-button{
    position: relative;
    color: white;
    padding: 20px 60px 20px 70px;
    font-size: 15px;
    background: linear-gradient(90deg ,rgb(255, 110, 134),rgb(231, 33, 112));
    margin: 10px 0 30px 0;
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
    box-shadow: 2px 6px 4px rgb(91, 19, 31);
}
.info-button::before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 15px;
    background: url(img/mailicon.svg) no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
}
